.header {
    height: 106px;
    display: flex;
    align-items: center;
    padding: 40px 0 40px 0;
}

.container {
    width: 100%;
    padding: 0 100px 0 100px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items {
    width: 33.33%;
}

.nav-item {
    cursor: pointer;
}

.nav-item--active {
    border-bottom: 2px solid black;
}

.logo {
    cursor: pointer;
}

.logo-text-latinh {
    font-size: 20px;
    font-weight: 400;
}

.logo-text-korean {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
}

.un_items {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
}

.logo {
    display: flex;
    width: 95px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.bl_tool {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
}

.bl_tool_icon {
    width: 18px;
    height: 18px;
}

.search_rectangle {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    background: var(--button-hover);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 26px;
    padding-right: 26px;
}

.search-input {
    border: none;
    background-color: var(--primary);
    outline: none;
}

.search-btn {
    line-height: 0;
}

.hero--top,
.hero--bot {
    width: 100%;
    height: 536px;
    background-image: url("../img/b1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--bot {
    background-image: url("../img/b2.png");
    flex-direction: column;
}

.hero-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 284px;
    height: 164px;
}

.hero-text {
    text-align: center;
}

.horizon {
    width: 256.5px;

}

.horizon hr {
    border-top: 2px solid black;
    opacity: 0.5;
}

.hero-text-h1 {
    color: #000;
    font-size: 48px;
    font-weight: 600;
}

.hero-text-h2 {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
}

.hero-text-h3 {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.seasonal {
    width: 100%;
}

.seasonal__title,
.products__title {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin: 60px 0 60px 0;
    line-height: 1;
}

.seasonal__items,
.products__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 645px;
    gap: 24px;
}

.seasonal__item,
.glide__slide,
.products__item {
    width: 446px;
}

.item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 496px;
}

.item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding: 40px 0 40px 0;
}

.item__button {
    border-radius: 20px;
    display: flex;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
}

.btn {
    cursor: pointer;
    background: var(--primary, #F7F6F0);
}

.btn:hover {
    background: var(--button-hover, rgba(217, 217, 217, 0.35));
}

.slide__title {
    text-align: center;
    margin: 60px 0 60px 0;
}

.slide {
    margin-top: 80px;
    margin-bottom: 60px;
}

.glide__slides {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    gap: 5px;
}

.glide__slide img {
    width: 98%;
    height: 100%;
    object-fit: cover;
    height: 496px;
}

.slide__info {
    text-align: center;
    padding-top: 12px;
}

.slide__name {
    font-size: 16px;
    font-weight: 400;
}

.slide__price {
    font-size: 14px;
    font-weight: 400;
}

.hero--bot__button {
    display: flex;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
}

.products__items {
    flex-wrap: wrap;
    /* background: var(--primary, #F7F6F0); */
    height: 100%;

}

.products__wrap {
    background: var(--primary, #F7F6F0);
    border-radius: 10px;
    padding: 30px;
    margin-left: -28px;
    margin-right: -28px;
}

.products__category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category__list__item {
    padding: 10px 30px 10px 30px;
    font-size: 28px;
    font-weight: 500;
    color: #505050;
}

.category__list__item--active {
    background: var(--primary, #F7F6F0);
    border-radius: 10px 10px 0px 0px;
    color: #000;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}

.category__list__item:hover {
    background: var(--primary, #F7F6F0);
    border-radius: 10px 10px 0px 0px;
    color: #000;
    cursor: pointer;
}

.products__item {
    flex-basis: calc(33.33% - 16px);
    margin-bottom: 80px;
}

.section__more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.more__button {
    padding: 12px 30px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.swiper {
    /* margin-top: 30px; */
}

.slide__rating,
.slide__product-name {
    font-size: 16px;
    font-weight: 400;
}

.checked {
    color: orange;
}

.swiper-slide {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    background-color: var(--primary);
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 631px;
}

.swiper-slide img {
    object-fit: contain;
    width: 329px;
    height: 410px;
}

.slide__content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.swiper-button-next::after {
    color: black;
    margin-left: 18px;
}

.contact {
    width: 100%;
    height: 797px;
    margin-top: 30px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benedit__title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.benefit,
.stroke,
.social {
    flex-basis: calc(33.33% - 20px);
}